<div class="new-problem-container">
    <h1>Nowy problem</h1>
        <mat-form-field appearance="fill">
        <mat-label  ngModel>Tytuł</mat-label>
        <input [(ngModel)]="problemModel.title" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Opis</mat-label>
        <textarea [(ngModel)]="problemModel.content" matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tagi</mat-label>
        <mat-select [(ngModel)]="selectedTags"  multiple>
          <mat-option *ngFor="let tag of tags" [value]="tag.name">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rozwiązanie</mat-label>
        <textarea [(ngModel)]="problemModel.solution.content" matInput></textarea>
      </mat-form-field>
      <div
        class="app-ace-editor"
        #editor
        style="width: 60%;height: 250px;margin-bottom:2%"
      ></div>
      <mat-form-field appearance="fill">
        <mat-label>Linki</mat-label>
        <textarea [(ngModel)]="problemModel.solution.urls" matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="submit()">Dodaj</button>


      

    
</div>