html,
body,
app-root,
.app-frame,
router-outlet {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}
.app-toolbar {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  height: 64px;

}
