.problemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 22%;
  width: 55%;
}
.mat-card-header {
  background-color: #4b4b4b;
  border-radius: 15px;
}
.mat-card-title {
  margin-top: 10px;
}
